<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-7 mrgnbtm">
      <h2>Find Tester(s)</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Country</label>
            <ng-select [items]="countries"
                       multiple="true"
                       bindLabel="name"
                       bindValue="id"
                       [(ngModel)]="inputCountries"
                       [ngModelOptions]="{standalone: true}">
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">

            <label>Device</label>
          <ng-select [items]="devices"
                     bindLabel="name"
                     bindValue="id"
                     multiple="true"
                     [(ngModel)]="inputDevices"
                     [ngModelOptions]="{standalone: true}">
          </ng-select>
          </div>
        </div>
        <button type="submit" class="btn btn-danger">Find Testers</button>
      </form>
    </div>
    <ul>
      <li *ngFor="let tester of results">
        <div>
          {{tester.name}} , <b>Number of Bugs:</b>{{tester.numberOfBugs}},
          <b>Device name:</b> {{tester.deviceId}}
        </div>
      </li>
    </ul>
  </div>

</div>

